* {
    margin: 0;
    padding: 0;
}
html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scene {
    width: 100%;
    height: 100%;
    background: #eaeaea;
    position: relative;
}
.scene .ground {
    position: absolute;
    top: 143px;
    left: 0;
    height: 0;
    width: 100%;
    border-bottom: 1px solid #333;
}
.scene .dino {
    position: absolute;
    width: 40px;
    height: 43px;
    left: 50px;
    top: 100px;
    background: url(../images/sprite.png) no-repeat -850px -4px;
}
.scene .dino.left {
    background: url(../images/sprite.png) no-repeat -938px -4px;
}
.scene .dino.right {
    background: url(../images/sprite.png) no-repeat -982px -4px;
}
.scene .barrier {
    position: absolute;
    width: 23px;
    height: 46px;
    right: 0;
    top: 99px;
    background: url(../images/sprite.png) no-repeat -333px -3px;
}
.scene .score,
.scene .generation,
.scene .x {
    float: right;
}
.g-container {
    position: relative;
    width: 100%;
    height: 145px;
}
